body {
    width: 80%;
    margin: 0 auto;
}

#formDiv {
    border: red solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
}

/* !divUserDeck */
#divUserDeck {
    /* border: red solid 3px; */
    display: flex;
    flex-direction: column;
    width: 50%;
}

#mainDeckDiv {
    border: black solid 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.rigaMain {
    display: flex;
}

#sideDeckDiv,
#extraDeckDiv {
    border: black solid 5px;
    border-radius: 10px;
    display: flex;
    width: fit-content;
}

.cardDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

/* !divContenitoreTabelle */

#sideDeck {
    /* border: rgb(0, 255, 21) solid 4px; */
    width: 50%;
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#divContenitoreTabelle {
    /* border: solid red 2px; */
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding-bottom: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.tables {
    border: blue solid 3px;
    border-radius: 10px;
    margin-top: 20px;
}

.container {
    /* border: rgb(0, 149, 255) solid 5px; */
    max-width: 100%;
}

.nav {
    /* border: solid green 10px; */
    display: flex;
    align-content: center;
}

.goingFirst {
    display: flex;
    flex-direction: row;
}

.inline-elements {
    /* border: red dotted 5px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inline-buttons {
    /* border: rgb(140, 171, 28) solid 5px; */
    display: flex;
    flex-direction: column;
    width: 40%;
}

.upperBtns {
    /* border: solid red 2px; */
    display: flex;
    justify-content: space-between;
}

.lowerBtns {
    /* border: solid red 2px; */
    display: flex;
}

.custom-margin {
    margin: 2px;
    border-radius: 5px;
    border-style: ridge;
    flex: 1;
    font-size: small;
}

.deleteTableBtn {
background-color: rgba(255, 0, 0, 0.521);
}

.colonne {
    align-items: center;
    border-radius: 10px;
    display: flex;
    align-items: self-start;
    height: 100%;
    width: 100%;
}

.sideIn,
.sideOut {
    align-items: center;
    /* border: black solid 5px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: green solid 3px;
    flex: 1;
    min-height: fit-content;
    height: 100%;
}

.monsters,
.spells,
.traps,
.extra_fusion,
.extra_synchro,
.extra_xyz {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nomiCarte {
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-radius: 30px;
}

.nomiCarte span {
    padding-right: 10px;
}

.orangeBackground {
    background-color: rgba(255, 217, 0, 0.805);
    border-radius: 30px;
}

.greenBackground {
    background-color: rgba(0, 255, 157, 0.543);
    border-radius: 30px;
}

.purpleBackground {
    background-color: rgba(254, 10, 254, 0.725);
    border-radius: 30px;
}

.greyBackground {
    background-color: grey;
    border-radius: 30px;
}

.darkPurpleBackground {
    background-color: blueviolet;
    border-radius: 30px;
}

.blackBackground {
    color: white;
    background-color: black;
    border-radius: 30px;
}

.whiteBackground {
    color: black;
    background-color: rgb(229, 229, 229);
    border-radius: 30px;
}

.btnMinus {
    width: 10%;
    margin-right: 10px;
}

.greenBorder {
    border: solid greenyellow 2px;
}

.greenBackground {
    box-shadow: green;
}