#main {
    display: flex;
}


/* !divUserDeck */
#divUserDeck {
    border: blue solid 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#mainDeckDiv {
    border: black solid 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.rigaMain {
    display: flex;
}

#sideDeckDiv,
#extraDeckDiv {
    border: black solid 10px;
    border-radius: 10px;
    display: flex;
    width: fit-content;

}

.cardDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

/* !divContenitoreTabelle */

#sideDeck {
    border: rgb(0, 255, 21) solid 4px;
    width: 50%;

}
#divContenitoreTabelle {
    display: flex;
    flex-direction: column;

    border: rgb(255, 0, 51) solid 4px;
}

.tables {
    align-items: center;
    border: rgb(0, 0, 0) solid 10px;
    border-radius: 10px;
    margin: 0 auto;
}

.colonne {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

}

#sideIn,
#sideOut {
    align-items: center;
    border: black solid 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#monsters,
#spells,
#traps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nomiCarte {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orangeBackground {
    background-color: rgba(255, 217, 0, 0.805);
}
.greenBackground {
    background-color: rgba(0, 255, 157, 0.543);
}
.purpleBackground {
    background-color: rgba(254, 10, 254, 0.725);
}

.btnMinus {
    width: 10%;
    margin-right: 10px;
    /* Add spacing between button and paragraph */
}

#btnContainer {
    display: block;
}