/* !divUserDeck */
#divUserDeck {
    border: red solid 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#mainDeckDiv {
    border: purple solid 10px;
    display: flex;
    flex-direction: column;
}

.rigaMain {
    border: rgb(255, 230, 0) solid 5px;
    display: flex;
}

#sideDeckDiv,
#extraDeckDiv {
    border: green solid 5px;
    display: flex;
    width: fit-content;

}

.card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgb(0, 255, 225) solid 5px;
    height: 80px
}

img {
    width: 100%;
    height: 100%;
}

/* !divContenitoreTabelle */

#divContenitoreTabelle {
    border: red solid 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.tables {
    border: rgb(47, 255, 78) solid 5px;
    justify-content: space-evenly;

}

.colonne {
    border: purple dotted 5px;
    display: flex;
    flex-direction: row;

}

#sideIn,
#sideOut {
    border: blue solid 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#monsters,
#spells,
#traps {
    border: black solid 2px;
}

.btnMinus {
    width: 10%;
    margin-right: 10px;
    /* Add spacing between button and paragraph */
}

.colorRed {
    border: red solid 2px;
}

.colorGreen {
    border: greenyellow solid 2px;
}