.container {
    border: rgb(0, 149, 255) solid 10px;
}

.nav {
    border: solid green 10px;
    display: flex;
    align-content: center;
}

.goingFirst {
    display: flex;
    flex-direction: row;
}

.inline-elements {
    border: red dotted 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.inline-buttons {
    border: green solid 5px;
    display: flex;
    flex-direction: column;
}

.upperBtns {
    border: solid red 2px;
    display: flex;
    justify-content: space-between;
}

.lowerBtns {
    border: solid red 2px;
    display: flex;
}

.custom-margin {
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    border-style: ridge;
    flex: 1;
    font-size: small;
}

.colonne {
    align-items: center;
    border-radius: 10px;
    display: flex;
    align-items: self-start;
    height: 100%;
    width: 100%;
}

.sideIn,
.sideOut {
    align-items: center;
    /* border: black solid 5px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: green solid 3px;
    flex: 1;
    min-height: fit-content;
    height: 100%;
}